* {
    margin: 0 0 0 0;
}

body {
    background: #ebebeb;
}

.container {
    width:80%;
    height:100%;
    margin:0 auto;
    /* overflow:auto; this breaks the bootstrap dropdown */
 /* -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.7); */
}


.content {
    margin-top:1px;
    margin-bottom:1px;
    height:100%;
    min-height:740px;
}



.header{
    width:100%;
    margin:0 auto;
    margin-top:70px;
    text-align:center;
}

.logout_button{
    float:right;
    margin-top:5px;
}

.login_form_wrapper {
    width:400px;
    height:300px;
    margin:0 auto;
    text-align:center;
    padding-top:170px;
}

.center_form_wrapper{
    width:50%;
    margin:0 auto;
    margin-top:30px;
    text-align:center;
}

.center_form_title,
.employee_profile_title{
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
}

.center_form_wrapper input[type = "text"],
.center_form_wrapper select{
    line-height: 15px;
    margin-top:5px;
}

.invoice_form_wrapper input[type = "text"],
.invoice_form_wrapper select{
    line-height:15px;
    margin-top:2px;
}

.center_form_wrapper label,
.invoice_form_wrapper label{
    line-height: 20px;
    color: #676767;
}

.invoice_form_wrapper{
    width:70%;
    margin:0 auto;
    margin-top:30px;
}

.invoice_elements_wrapper{
    width:100%;
    display:none;
}

.invoice_info{
    width:50%;
    margin:0 auto;
}

.invoice_left{
    float:left;
}

.invoice_right{
    float:right;
}

.invoice_totals{
    width:50%;
    margin:0 auto;
    text-align:right;
}


.employee_profile{
    width:50%;
    margin:0 auto;
    margin-top:30px;
}


.home_page_menu {
    list-style: none;
}

.home_page_menu li {
    float: left;
    width: 18.5%;
    height: 115px;
    padding: 10px;
    margin-left:10px;
    line-height: 1.4;
    text-align: center;
    background-color: #e5e5e5;
    border: 1px solid #cecece;
}


.flat_table {
    width:50%;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top:30px;
    border-collapse:collapse;
    border: none;
    border-radius: 3px;
    text-align:left !important;
}

.flat_table_1{
    width:80% !important;
}

.flat_table th, .flat_table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.10),
    inset 0 0px rgba(0,0,0,0.10);
    margin-left:10px;
}
.flat_table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 2px;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.1em;
}
.flat_table td {
    color:#000000;
    padding: 4px;
    font-size: 1em;
}

.clear{
    clear:both;
}

.center_button,
.invoice_pagination{
    margin:0 auto;
    display: block;
}

.invoice_pagination{
    width:150px;
}

hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


@media (max-width: 1200px) {

}