* {
    margin: 0 0 0 0;
}

body {
    background: #ffffff;
}
.container{
    width:760px;
    height:auto;
    margin:0 auto;
    margin-top:40px;
    border:3px solid black;
}

.pdf_wrapper{
    width:720px;
    height:auto;
    padding:20px;
}

.pdf_header_wrapper{
    background:#cccceb;
    width:100%;
    height:99px;
    margin:0 auto;
    border-bottom:3px solid black;
}

.header_logo{
    float:left;
    width:99px;
    border-right:3px solid black;
}

.header_text{
    float:right;
    width:300px;
    margin-top:15px;
    margin-right:190px;
}


/* Company info */
.title{
    float:left;
    width:100px;
    margin-top:20px;
    margin-left:20px;
    font-size:25px;
    color:#0088cc;
}

.contact_info{
    float:right;
    width:160px;
    text-align:center;
    margin-right:50px;
    margin-top:10px;
    font-size:18px;
}

.invoice_header{
    width:100%;
    height:100px;
}

.invoice_elements_header{
    width:100%;
    height:130px;
}
.invoice_info{
    width:270px;
    margin-left:20px;
    margin-top:10px;
    font-size:16px;
}

.company_name{
    width:180px;
    margin: 0 auto;
    margin-top:20px;
    font-size:16px;
    text-align:center;
}


/* DIV table */
.table_wrapper{
    height:508px;
    border:1px solid black;
    /*margin-top:100px;*/
    }
.table_header{
    height:31px;
    border-bottom:1px solid black;
}
.header_element{
    float:left;
    font-weight:bold;
    text-align:center;
    border-right:1px solid black;
    padding:3px;
    line-height:25px;
    background:#caeefe;
}
.qty{
    width:40px;
    border-left:none !important;
}
.desc{
    width:450px;
    border-left:none !important;
}
.uprice{
    width:100px;
    border-left:none !important;
}
.ltotal{
    border-right:none !important;
    width:101px;
}

/* Table elements */

.element_wrapper{
    width:100%;
    height:19px;
    display:block;
}

.body_element{
    float:left;
    border-right:1px solid black;
}

.qty_elem{
    width:46px;
}
.desc_elem{
    width:456px;
}
.uprice_elem{
    width:106px;
}
.ltotal_elem{
    border-right:none !important;
    width:106px;
}

.element_content{
    margin-left:6px;
}

/* Funky footer */
.pdf_footer {
    width:920px;
    height:80px;
    padding:10px;
    margin-top:20px;
    margin-left:5px;
    text-align:center;
}

.pdf_footer_pdf{
    width:700px;
    padding:5px;
    margin-left:40px;

}

.totals_table{
    font-size:14px;
    border-spacing: 0px;
    border-collapse: separate;
}


.totals_table td{
    padding:3px;
}

.totals_table_pdf{
    font-size:14px;
}


.totals_table_pdf td{
    padding:3px;
}

.special{
    border:1px solid black;
    width:70px;
    font-size:16px;
    text-align:left !important;
}

.footer_vat{
    float:left;
    width:25%;
    text-align:left;
}

.footer_message{
    float:left;
    width:35%;
    text-transform: uppercase;
    text-align:left;
    margin-top:30px;
}

.footer_price{
    float:left;
    width:15%;
    text-align:right !important;
}

.pdf_price{
    width:30% !important;
    float:right !important;
    margin-right:-30px;
}
.pdf_message{
    width:40% !important;
    bottom:0;
}
.pdf_message p{
    margin-top:40px;
}

.pdf_vat{
    width:25% !important;
}
